/**
 * Common color
 */
$success: #1E88E5;
$danger: #EF5350;
$warning: #FFEE58;
$color: #5E5E5E;
$dark: #202020;

/**
 * Common style
 */
a.anchor {
	color: $success;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.success {
	color: $success;
}

.danger {
	color: $danger;
}

.warning {
	color: $warning;
}

.form-padding {
	padding: 10px 16px;
}

.no-padding {
	padding: 0;
}

.spanner {
	width: 10px;
	height: 10px;
}

.scroller {
    white-space: pre-line;
    height: 500px;
    overflow-y: hidden;
    position: relative;
}

/**
 * Social button
 */
.md-button:not(.md-icon-button).md-social {
	text-transform: none;
	width: 100%;
	margin: 10px;

	md-icon {
		padding-left: 7px;
		padding-right: 7px;
	}

	&.md-social-google,
	&.md-social-google:hover,
	&.md-social-google:focus,
	&.md-social-google:active,
	&.md-social-google:visited {
		background-color: #D32F2F;
	}

	&.md-social-facebook,
	&.md-social-facebook:hover,
	&.md-social-facebook:focus,
	&.md-social-facebook:active,
	&.md-social-facebook:visited {
		background-color: #1976D2;
	}
}

/**
 * Topnav
 */
.exv-topnav {
	height: 64px;
	padding: 10px 20px;

	.md-menu {
	    margin: inherit;
	}

	.md-button:not(.md-icon-button) {
	    border-radius: 0;
	    height: 64px;
	    padding: 0 10px;
	}

	.md-open {
		button {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}

	.exv-search-toolbar {
		color: #fff;
	}
}

.exv-search-toolbar {
    background: transparent;
    width: 100%;
    border: none;
    padding: 0 10px;

    &:focus {
    	border: none;
	    outline-color: transparent;
    }
}

/**
 * Avatar
 */
.exv-avatar-small {
    display: inline-block;
    background-color: #C7C7C7;
    padding: 5px;
    width: 40px;
    height: 40px;
    line-height: 25px;
    border-radius: 20px;
    vertical-align: middle;
    margin-right: 5px;
}


/**
 * Sidenav
 */
.exv-sidenav {
	width: 220px;
	background-color: $dark;
	
	md-content {
		background-color: $dark;
		color: #fff;
	}
}

/**
 * Login page
 */
.card-login {
	width: 450px;
}

.or-login {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #BDBDBD;
}

/**
 * Perfect scrollbar
 */
.elm-scroll {
	position: relative; 
	overflow: hidden;
	height: 100%;
}

.ps-container>.ps-scrollbar-y-rail, .ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    width: 5px;
}

#contentScroller {
	position: relative;
	overflow: hidden;
	height: 100%;
}