/**
 * Common color
 */
$success: #1E88E5;
$danger: #EF5350;
$warning: #FFEE58;

/**
 * Common style
 */
a.anchor {
	color: $success;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.success {
	color: $success;
}

.danger {
	color: $danger;
}

.warning {
	color: $warning;
}

.form-padding {
	padding: 10px 16px;
}

.no-padding {
	padding: 0;
}

.spanner {
	width: 10px;
	height: 10px;
}

.scroller {
    white-space: pre-line;
    height: 500px;
    overflow-y: hidden;
    position: relative;
}

/**
 * Social button
 */
.md-button:not(.md-icon-button).md-social {
	text-transform: none;
	width: 100%;
	margin: 10px;

	md-icon {
		padding-left: 7px;
		padding-right: 7px;
	}

	&.md-social-google,
	&.md-social-google:hover,
	&.md-social-google:focus,
	&.md-social-google:active,
	&.md-social-google:visited {
		background-color: #D32F2F;
	}

	&.md-social-facebook,
	&.md-social-facebook:hover,
	&.md-social-facebook:focus,
	&.md-social-facebook:active,
	&.md-social-facebook:visited {
		background-color: #1976D2;
	}
}

/**
 * Topnav
 */
.exv-topnav {
	height: 64px;
	padding: 10px 0;

	.md-menu {
	    margin: inherit;
	}

	.md-button {
	    border-radius: 0;
	    height: 64px;
	}
}

/**
 * Sidenav
 */
.exv-sidenav {
	width: 220px;	
}

/**
 * Login page
 */
.card-login {
	width: 450px;
}

.or-login {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #BDBDBD;
}

/**
 * Perfect scrollbar
 */
.elm-scroll {
	position: relative; 
	overflow: hidden;
	height: 100%;
}

#contentScroller {
	position: relative;
	overflow: hidden;
	height: 100%;
}