$background: #F5F5F5;
$color: #757575;
$color-disabled: #BDBDBD;

// Common Color
$success: #1E88E5;
$danger: #EF5350;

body, 
md-content, 
md-sidenav {
	background: $background;
	color: $color;
}

a.anchor {
	color: $success;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.success {
	color: $success;
}

.danger {
	color: $danger;
}

.logo-small {
    width: 60px;
    margin-bottom: 15px;
}

.or-login {
	margin-top: 20px;
	margin-bottom: 20px;
	color: $color-disabled;
}

.md-button:not(.md-icon-button).md-social {
	text-transform: none;
	width: 100%;
	margin: 10px;

	md-icon {
		padding-left: 7px;
		padding-right: 7px;
	}

	&.md-social-google,
	&.md-social-google:hover,
	&.md-social-google:focus,
	&.md-social-google:active,
	&.md-social-google:visited {
		background-color: #D32F2F;
	}

	&.md-social-facebook,
	&.md-social-facebook:hover,
	&.md-social-facebook:focus,
	&.md-social-facebook:active,
	&.md-social-facebook:visited {
		background-color: #1976D2;
	}
}

.menu-list {
	display: block;
	width: 100%;
	text-align: left;
    padding: 10px 20px;
    margin: 0;
}

.card-small {
	max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

md-toolbar {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

	&.no-shadow {
		box-shadow: none;
	}

	&.toolbar-card {
		background: transparent;
		box-shadow: none;
	    padding: 0 8px;
		color: $color;

		.md-button {
			font-size: inherit;
		}

		md-icon {
			color: $color;
		}

		&.alternate {
			color: #1e88e5;
			background-color: #e3f2fd;
		}

		.search-toolbar {
		    width: 100%;
		    border: none;
		    padding: 0 10px;

		    &:focus {
		    	border: none;
	    	    outline-color: transparent;
		    }
		}
	}

}

.left {
	float: left;
}

.right {
	float: right;
}

md-dialog {
	width: 50%;
}

.padding {
	padding: 24px;
}

.no-padding {
	padding: 0;
}

.signin-padding {
	padding: 10px 16px;
}