<exv-background-top background="#E91E63">
    <exv-title>Dashboard</exv-title>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</exv-background-top>
<div layout-gt-sm="row">
    <div flex-gt-sm="20">
        <md-card exv-widget-info="success">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Pages</span>
                </md-card-title-text>
            </md-card-title>
            <div class="exv-number-info">
                3
            </div>
            <md-card-actions>
                <md-button>Action 1</md-button>
            </md-card-actions>
        </md-card>
    </div>
	<div flex-gt-sm="20">
		<md-card exv-widget-info="warning">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Apps</span>
				</md-card-title-text>
			</md-card-title>
            <div class="exv-number-info">
                2
            </div>
			<md-card-actions>
				<md-button>Action 1</md-button>
			</md-card-actions>
		</md-card>
	</div>
	<div flex-gt-sm="20">
		<md-card exv-widget-info="danger">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Components</span>
				</md-card-title-text>
			</md-card-title>
            <div class="exv-number-info">
                0
            </div>
			<md-card-actions>
				<md-button>Detail</md-button>
			</md-card-actions>
		</md-card>
	</div>
</div>
