<md-dialog aria-label="Add" flex="50" flex-sm="80" flex-xs="100">
	<md-toolbar>
	    <div class="md-toolbar-tools">
	        <h2>{{title}}</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="close()">
                <md-icon md-font-icon="zmdi-close" class="zmdi zmdi-hc-lg" aria-label="Close dialog"></md-icon>
	        </md-button>
	    </div>
	</md-toolbar>
	<form name="userForm" ng-submit="save()">
	    <md-dialog-content class="dialog-padding">
			<md-input-container class="md-block">
			    <label>First Name*</label>
			    <input type="text" required name="firstName" ng-model="user.firstName">
			    <div ng-messages="userForm.firstName.$error">
			        <div ng-message="required">This is required.</div>
			    </div>
			</md-input-container>
			<md-input-container class="md-block">
			    <label>Last Name*</label>
			    <input type="text" required name="lastName" ng-model="user.lastName">
			    <div ng-messages="userForm.lastName.$error">
			        <div ng-message="required">This is required.</div>
			    </div>
			</md-input-container>
			<md-input-container class="md-block">
			    <label>Email*</label>
			    <input type="text" required name="email" ng-model="user.email">
			    <div ng-messages="userForm.email.$error">
			        <div ng-message="required">This is required.</div>
			    </div>
			</md-input-container>
			<div flex="50" ng-repeat="group in groups">
				<md-checkbox ng-checked="exists(group.id, selected)"  ng-click="toggle(group.id, selected)">
					{{group.groupName}}
				</md-checkbox>
            </div>
            <input type="hidden" name="groups" ng-model="user.groups">
			<md-input-container class="md-block" ng-if="!password">
			    <label>Password*</label>
			    <input type="password" required name="password" minlength="5" maxlength="20" ng-model="user.password">
			    <div ng-messages="userForm.password.$error">
			        <div ng-message="required">This is required.</div>
			    </div>
			</md-input-container>
			<md-input-container class="md-block" ng-if="password">
			    <label>Password</label>
			    <input type="password" name="password" ng-model="user.password">
			</md-input-container>
			<span class="danger">{{formMessage}}</span>
		    </md-dialog-content>
	    <md-dialog-actions>
	        <md-button type="submit" class="md-raised md-primary">Save</md-button>
	    </md-dialog-actions>
	</form>
</md-dialog>
