<exv-background-top background="#9C27B0">
    <exv-title>CRUD Example</exv-title>
    <p>Material design CRUD</p>
</exv-background-top>
<md-card class="no-padding">
    <md-toolbar class="toolbar-card alternate" ng-show="selected.length">
        <div class="md-toolbar-tools">
            <h2 class="md-title">{{selected.length}} <span ng-if="selected.length == 1">item</span><span ng-if="selected.length > 1">items</span> selected</h2>
            <div flex></div>
            <md-button ng-click="delete()" class="md-icon-button" aria-label="delete">
                <md-icon md-font-icon="zmdi-delete" class="zmdi zmdi-hc-lg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="toolbar-card" ng-hide="selected.length || search">
        <div class="md-toolbar-tools">
            <h2 class="md-title">Sandbox</h2>
            <div flex></div>
            <md-button ng-click="addSandbox($event)" class="md-icon-button" aria-label="add">
                <md-icon md-font-icon="zmdi-account-add" class="zmdi zmdi-hc-lg"></md-icon>
            </md-button>
            <md-button ng-click="search = true" class="md-icon-button" aria-label="search">
                <md-icon md-font-icon="zmdi-search" class="zmdi zmdi-hc-lg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="toolbar-card" ng-show="search">
        <div class="md-toolbar-tools">
            <md-icon md-font-icon="zmdi-search" class="zmdi zmdi-hc-lg"></md-icon>
            <input class="exv-search-toolbar" ng-model="searchModel" type="text" placeholder="Search">
            <div flex></div>
            <md-button ng-click="search = false; searchModel = null" class="md-icon-button" aria-label="close">
                <md-icon md-font-icon="zmdi-close" class="zmdi zmdi-hc-lg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-table-container>
        <table md-table md-row-select ng-model="selected" md-progress="promise">
            <thead md-head md-order="order" md-on-reorder="onReorder">
                <tr md-row>
                    <th md-column md-order-by="name"><span>Name</span></th>
                    <th md-column md-order-by="gender"><span>Gender</span></th>
                    <th md-column md-order-by="Address"><span>Address</span></th>
                    <th md-column></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="box" md-select-id="{{box.id}}" ng-repeat="box in sandbox">
                    <td md-cell>{{box.name}}</td>
                    <td md-cell>{{box.gender}}</td>
                    <td md-cell>{{box.address}}</td>
                    <td md-cell layout="row" layout-align="end center">
                        <md-button ng-click="editSandbox($event, box.id)" class="md-icon-button" aria-label="edit">
                            <md-icon md-font-icon="zmdi-edit" class="zmdi zmdi-hc-lg"></md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="pagination.limit" md-page="pagination.page" md-total="{{pagination.total}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
</md-card>
