<md-list class="no-padding">
    <md-list-item ng-if="!loggedin">
        <md-button class="menu-list" href="login" ng-click="close()"> login </md-button>
    </md-list-item>
    <md-list-item ng-if="loggedin">
        <md-button class="menu-list" ng-click="logout()"> logout </md-button>
    </md-list-item>
    <md-list-item>
        <md-button class="menu-list" href="dashboard" ng-click="close()"> dashboard </md-button>
    </md-list-item>
    <md-list-item ng-if="loggedin">
        <md-button class="menu-list" href="table" ng-click="close()"> table </md-button>
    </md-list-item>
</md-list>
