<div layout="column" layout-align="center center">
	<a href="/#dashboard" target="_self">
		<img src="./images/expressive.png" class="logo-small" alt="expressive">
	</a>
	<md-card class="card-login">
		<h1 class="md-toolbar-tools">Login</h1>
		<form ng-submit="doLogin()" class="form-padding">
			<md-input-container class="md-block">
				<label>Email</label>
				<input ng-model="user.email" ng-disabled="promise" type="email" autofocus required>
			</md-input-container>
			<md-input-container class="md-block">
				<label>Password</label>
				<input ng-model="user.password" ng-disabled="promise" type="password" ng-minlength="8" required>
			</md-input-container>
			<p ng-if="message" class="danger">{{message}}</p>
			<div layout="row">
				<md-checkbox ng-model="user.remember" aria-label="Remember me">
					Remember Me
				</md-checkbox>
				<span flex></span>
				<!-- <a class="anchor" href="#" title="Forgot Passowrd?">Forgot Password?</a> -->
			</div>
			<md-card-actions>
				<div layout="row">
					<md-button type="submit" flex ng-disabled="promise || !user.email || !user.password" class="md-raised md-primary">Sign in</md-button>
				</div>
				<div layout="row" class="or-login" layout-align="center center">
					OR
				</div>
				<div layout-gt-xs="row" layout-align="center center">
					<div flex>
						<md-button class="md-raised md-primary md-social md-social-google">
							<md-icon md-font-icon="zmdi-google-plus" class="zmdi zmdi-hc-lg"></md-icon>
							<span>Sign in with Google</span>
						</md-button>
					</div>
					<div class="spanner"></div>
					<div flex>
						<md-button class="md-raised md-primary md-social md-social-facebook">
							<md-icon md-font-icon="zmdi-facebook" class="zmdi zmdi-hc-lg"></md-icon>
							<span>Sign in with Facebook</span>
						</md-button>
					</div>
				</div>
				<p>Don't have account? <a href="/#signup">Sign up now</a></p>
			</md-card-actions>
		</form>
	</md-card>
</div>
